/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}


#container{
    width: calc(50% + 30vw) ;
    max-width: 1400px;
    margin: 20px auto;
}


.row::after{
    content: "";
    display: table;
    clear: both;
}

/* header */
header{
    width: 100%;
    /* DEBUG:  */
    height: 100px;
    background-color: blue;
}


/* jumbotron */
#jumbotron{
    margin: 20px 0;
    width: 100%;
    /* DEBUG:  */
    height: 400px;
    background-color: yellow;
}



/* sezione principale - uso float */
.top{
    width: 100%;
    margin: 20px 0;
    /* DEBUG:  */
    height: 75px;
    background-color: red;
}

.aside{
    float: left;
    width: 25%;
    /* DEBUG:  */
    height: 500px;
    background-color: lightgreen
}

.central{
    float:left;
    width: calc(50% - 40px);
    margin: 0 20px;
    /* DEBUG:  */
    height: 500px;
    background-color: lightgreen;
}



/* footer */
footer{
    width: 100%;
    margin: 20px 0;
    /* DEBUG:  */
    height: 75px;
    background-color: blue;
}
